<div class="container-fluid px-0">
  <div class="img" style="min-width: 100%; max-height: 90vh">
    <video
      class="img-fluid"
      style="
        max-height: 90vh;
        min-width: 100%;
        object-fit: cover;
        object-position: 100% 50%;
      "
      autoplay
      [muted]="'muted'"
      loop
    >
      <source src="../../assets/Videos/cali_lugunahotel.mp4" type="video/mp4" />
    </video>
  </div>

  <div class="container mt-4 mb-4" style="max-width: 75%">
    <h1 class="text-center">Brisa Marina</h1>
    <h2 class="text-center">
      Hotel Brisa Marina, un hotel Familiar todo incluido
    </h2>
    <p style="font-size: 18px; text-align: justify">
      Brisa Marina. Este es un resort Todo Incluido que en verdad lo tiene todo,
      está ubicado en frente de la playa, en uno de los lugares más bonitos del
      pais, donde puedes encontrar la vida nocturna más vibrante, la comida
      mexicana e internacional más rica que hayas probado y una mezcla de
      culturas que no podrás olvidar
    </p>
    <p style="font-size: 18px; text-align: justify">
      Cuando decimos que Brisa Marina es un hotel Todo Incluido, lo decimos en
      serio. Estamos hablando de que al estar justo frente al mar, no
      necesitarás ni siquiera dejar tu cama para admirar las olas y el sol, y
      cuando ya no aguantes más las ganas de sentir el agua, baja a una de
      nuestras dos hermosas albercas, o si prefieres, tómate una deliciosa piña
      colada en nuestro jacuzzi panorámico con vista al mar.
    </p>
  </div>
  <div
    class="container d-flex align-items-center"
    style="
      max-width: 100%;
      min-height: 60vh;
      background-color: rgba(30, 119, 45, 0.3);
    "
  >
    <div class="container d-flex" style="max-width: 75%">
      <div class="row mx-auto" style="margin-top: 2%">
        <div
          class="col-lg-6 container-fluid d-flex flex-column min-vh-70"
          style="margin-top: 5%"
        >
          <img
            class="img  mb-5"
            src="../../assets/Images/piscina.jpg"
            style="max-width: 100%; object-fit: cover; max-height: 60vh"
          />
        </div>

        <div
          class="col-lg-6 container-fluid d-flex flex-column min-vh-70"
          style="margin-top: 5%"
        >
          <div class="container">
            <h2>Brisa Marina</h2>
            <h3>Piscina Familiar y Piscina Solo Adultos</h3>
            <p style="font-size: 18px; text-align: justify">
              Trae a los niños a nuestra animada piscina familiar, para pasar un
              inolvidable momento familiar junto a tus hijos, jugando y riendo
              todo lo que quieran.
            </p>
            <p style="font-size: 18px; text-align: justify">
              O disfruta de un día tranquilo en una tumbona junto a nuestra
              piscina solo para adultos, donde podrás relajarte, leer tu libro y
              tomar tus cocteles, en un ambiente sofisticado solo para adultos.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container d-flex align-items-center">
    <div class="container mt-5 mb-5" style="max-width: 75%">
      <div class="img" style="min-width: 100%; max-height: 50vh">
        <img
          class="img-fluid"
          style="
            max-height: 50vh;
            min-width: 100%;
            object-fit: cover;
            object-position: 100% 50%;
          "
          src="../assets/Images/portada.jpg"
        />
      </div>
      <h2 class="text-center">Brisa Marina Habitaciones</h2>
      <h3 class="text-center">
        Disfruta de Nuestras Habitaciones Vista al Mar o Frente al Mar
      </h3>

      <p style="font-size: 18px; text-align: justify">
        Las habitaciones que ofrecemos en Brisa Marina están decoradas en un
        ambiente tropical que nunca permitirán que te olvides el lugar, ya sea
        con vista hacia el mar o hacia el jardín, siempre te sentirás en el
        paraíso y con las comodidades a las que estás acostumbrado como una
        televisión de pantalla plana, aire acondicionado y terrazas privadas.
      </p>

      <a class="fas fa-arrow-up" routerLink="/habitaciones"
        ><p class="text-center">Leer más →</p></a
      >
    </div>
  </div>
</div>
