.btn-resGreen {
    color: #212529;
    background-color: #BED73D;
    border-color: #b2ce27;
}

.btn-resGreen:hover {
    color: #212529;
    background-color: #a9c22f;
    border-color: #9eb820;
}

.btn-resGreen:focus,
.btn-resGreen.focus {
    box-shadow: 0 0 0 .2rem #9bb130;
}

.btn-resGreen.disabled,
.btn-resGreen:disabled {
    color: #212529;
    background-color: #cfe26f;
    border-color: #cfe26f;
}

.btn-resGreen:not(:disabled):not(.disabled):active,
.btn-resGreen:not(:disabled):not(.disabled).active,
.show>.btn-resGreen.dropdown-toggle {
    color: #212529;
    background-color: #cfe26f;
    border-color: #9fbd0c;
}

.btn-resGreen:not(:disabled):not(.disabled):active:focus,
.btn-resGreen:not(:disabled):not(.disabled).active:focus,
.show>.btn-resGreen.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem #9bb130;
}

.btn-outline-resGreen {
    color: #BED73D;
    background-color: transparent;
    background-image: none;
    border-color: #BED73D;
}

.btn-outline-resGreen:hover {
    color: #222;
    background-color: #cfe26f;
    border-color: #BED73D;
}

.btn-outline-resGreen:focus,
.btn-outline-resGreen.focus {
    box-shadow: 0 0 0 .2rem #9bb130;
}

.btn-outline-resGreen.disabled,
.btn-outline-resGreen:disabled {
    color: #BED73D;
    background-color: transparent
}

.btn-outline-resGreen:not(:disabled):not(.disabled):active,
.btn-outline-resGreen:not(:disabled):not(.disabled).active,
.show>.btn-outline-resGreen.dropdown-toggle {
    color: #212529;
    background-color: #cfe26f;
    border-color: #BED73D;
}

.btn-outline-resGreen:not(:disabled):not(.disabled):active:focus,
.btn-outline-resGreen:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-resGreen.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem #9bb130;
}