<div
  class="bg-image"
  style="
    background-image: url('../../assets/Images/noche.jpg');
    background-size: cover;
  "
>
  <div class="d-flex align-items-center" style="height: 100vh">
    <div
      class="container-fluid border rounded"
      style="background-color: white; width: 40vh; height: 60vh"
    >
      <h4 class="text-center mt-5 mb-0">Correo Enviado</h4>
      
      <div class="container-fluid d-flex align-items-center" >
        

        <form class="mx-auto">
          <div class="mt-5" >
            <p style="text-align: center; height: 30vh;" >Se enviará un correo a la dirección introducida,
            siempre y cuando exista una cuenta asosiada a el.
            </p>
          </div>
          
          <button type="submit" class="btn btn-primary mx-auto d-block" routerLink="/login-page/login" >Volver</button>
          
        </form>
      </div>
      

    </div>
  </div>
</div>