<div
  class="bg-image"
  style="
    background-image: url('../../assets/Images/atardecer.jpg');
    background-size: cover;
  "
>
  <div class="d-flex align-items-center" style="height: 100vh">
    <div
      class="container-fluid border rounded"
      style="background-color: white; width: 40vh; height: 60vh"
    >
      <h4 class="text-center mt-5 mb-0">Ingresa Tu Correo</h4>
      
      <div class="container-fluid d-flex align-items-center" style="height: 30vh;">
        

        <form class="mx-auto">
          <div class="mt-4" >
            <p style="text-align: center;">Ingresa el correo electronico registrado</p>
            <label class="form-label">Email</label>
            <input [(ngModel)]="to" type="email" name="to" id="to" class="form-control mb-3"/>
          </div>
          
          <button (click)="sendMail()" type="submit" class="btn btn-primary mx-auto d-block" routerLink="/mail-post">Mandar correo</button>
          
        </form>
      </div>
      

    </div>
  </div>
</div>